#header {
  border: 1px solid;
  height: 40px;
}

#logo {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: 1.6em;
  margin-left: 2%;
}

.container {
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
}

